/* Estilos generales */
/* Puedes agregar tus estilos personalizados aquí */

/* Estilos para el ticket */
#ticketModalContent {
    padding: 20px;
}

/* Estilos de impresión */
@media print {
    body * {
        visibility: hidden;
    }
    #ticketModalContent, #ticketModalContent * {
        visibility: visible;
    }
    #ticketModalContent {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
}
